.form-container {
  /* border-radius: 0 10px 10px 0; */
  /* position: relative; */
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  /* background: linear-gradient(20deg, #d4f1f4 0%, #75e6da 100%); */
  /* background: #868585; */
  margin: 5em auto;
  /* width: 1000px; */
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 35em;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}
