@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Pacifico&display=swap');

.title {
  display: grid;
  text-align: center;
  font-family:'Fuzzy Bubbles', cursive;
  font-size: 2rem;
  padding: 3rem;
  }

.whoWeAre {
    margin: 3rem;
    height: 60px;
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Fuzzy Bubbles', cursive;
    border: 3px solid;
    border-radius: 15px;
    border-color: rgb(23, 101, 104);
    
  }

.centerImg {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        background-size: cover;
      }

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}