@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Pacifico&display=swap');

.title {
    font-family:'Fuzzy Bubbles', cursive;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

.whoWeAre {
    height: 60px;
    display: inline-flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Fuzzy Bubbles', cursive;
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(44, 210, 216);
  }

.centerImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        background-size: cover;
      }