main {
  margin: auto;
  width: 120vh;
}
.donate-container > * {
  width: 100%;
}
.donate-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
  padding: 0;
  gap: 1em;
}
