@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Pacifico&display=swap');



.text {
    display: grid;
    text-align: center;
    font-family:'Fuzzy Bubbles', cursive;
    font-size: 2rem;
    padding: 3rem;
    
}

.main-background {
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 500px;
} 

h2 { padding-bottom: 15px;}

