@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Pacifico&display=swap');

.container   {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.text {
    display: grid;
    text-align: center;
    font-family:'Fuzzy Bubbles', cursive;
    font-size: 2rem;
    padding: 3rem;    
}

.main-background {
    display: flex;
    position: absolute;
    opacity: 0.5;
    bottom:0;
    right: 0;

} 

h2 { padding-bottom: 15px;}

